<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226438241533-ong646pfqiok7611ulqrdv64nju5smqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226438241533-ong646pfqiok7611ulqrdv64nju5smqf</string>
	<key>API_KEY</key>
	<string>AIzaSyAi0we9CAO5ectSU1AyE9ubsD3HoNZ17qY</string>
	<key>GCM_SENDER_ID</key>
	<string>226438241533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthentication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>auth-demo-0</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-demo-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226438241533:ios:fca528fd7ae5e143893294</string>
</dict>
</plist>